
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eef2f7;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; 
   background-color: #f2f0f0;
    padding: 10px ;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
    
}

header h1 {
    color: rgb(53, 52, 52);
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.header-logo {
    height: 50px;  
}

.top-div {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-container,
.otp-container,
.password-container {
    margin-bottom: 10px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #fbf4f4f4;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:hover {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:focus {
    border-color: #479af2;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.otp-container input {
    width: 66%;
    display: inline-block;
}

.otp-container .btn {
    width: 26%;
    display: inline-block;
    margin-left: 2%;
    font-size: 13px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.top-div p{
    margin-left: 10px;
}
p u{
    color: rgb(52, 50, 50);
    cursor: pointer;
   
}


button.btn {
    background-color: #449cf9; 
    color: white;
}

button.btn:hover {
    background-color: #3c8be0;
}

.password-container p {
    color: red;
    font-size: 14px;
}


@media (max-width: 750px) {
    .otp-container input {
        width: 65%;
    }

    .otp-container .btn {
        width: 30%;
        font-size: 14px;
    }

    input,
    button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .top-div {
        width: 300px;
    }

    .otp-container input {
        width: 60%;
    }

    .otp-container .btn {
        width: 30%;
    }
    header h1{
        font-size:20px ;
    }
}
